@import "tailwindcss";

@theme {
  --color-black: rgb(21, 21, 21);
  --color-white: rgb(238, 238, 238);
  --color-purple: rgb(122, 59, 238); /* Purple background e.g buttons */
  --color-purple-accent: rgb(167, 139, 250); /* Usually for text */
  --color-purple-btn-hover: rgb(139, 92, 245);
  --color-purple-text-hover: rgb(196, 181, 253);
  --color-grey: rgb(34, 34, 34);
  --color-grey-accent: rgb(163, 163, 163); /* Usually for text or borders */
  --color-grey-ring: rgb(64, 64, 64); /* Ring shadow for input elements */
  --color-grey-ring-hover: rgb(82, 82, 82); /* Hover/Focused for input element*/
}
